h2{
    background-color: blue;
    color: beige;
    width: 200px;
    padding: 25px;
    height: 10px;
    border: ;

}



h1{
    background-color: brown;
    color: greenyellow;
    width: 400px;
    padding: 10px;
    
    
}