{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c2.css' %}" >
</head>
<body>
    <center>
    <h1>mobile is very slow</h1>
    <h1>give u r mobile to shop bro </h1>
    </center>
    <center>
        <h2>hlo bro where r u</h2>
        <img src="{% static 'images/dhoni.jpg' % }" alt=" what are r doing thambi">
        <marquee behavior="scroll" direction="up" scrollamount="10px">i am amar</marquee>
    </center>
</body>
</html>